In [3]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
text=["London Paris London","Paris Paris London"]
cv=CountVectorizer()

In [6]:
count_matrix=cv.fit_transform(text)

####(london,paris)=(2,1),(1,2)

In [7]:
print(count_matrix.toarray())

[[2 1]
 [1 2]]

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
similarity_scores=cosine_similarity(count_matrix)

In [10]:
print(similarity_scores)

[[1.  0.8]
 [0.8 1. ]]

In [48]:
df=pd.read_csv("netflix_titles.csv")

In [49]:
df.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,2,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,3,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,4,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,5,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

Select features for the recommendation

In [75]:
features=['type','director','cast','release_year','country','duration','listed_in','description']
for feature in features:
    df[feature]= df[feature].fillna(' ')

In [76]:
df['release_year'] = df['release_year'].apply(str)

### Combine features

In [77]:
def combined_features(row):
    try:
        return row['type']+" "+row['director']+" "+row['cast']+" "+row['release_year']+" "+row['country']+" "+row['duration']+" "+row['listed_in']+" "+row['description']
    except:
        print("Error:", row)

df["combined_features"]= df.apply(combined_features,axis=1)

In [78]:
print(df["combined_features"].head())

0    Movie Richard Finn, Tim Maltby Alan Marriott, ...
1    Movie   Jandino Asporaat 2016 United Kingdom 9...
2    TV Show   Peter Cullen, Sumalee Montano, Frank...
3    TV Show   Will Friedle, Darren Criss, Constanc...
4    Movie Fernando Lebrija Nesta Cooper, Kate Wals...
Name: combined_features, dtype: object

## Create Count Matrix

In [79]:
cv=CountVectorizer()

In [80]:
count_matrix=cv.fit_transform(df["combined_features"])

## Get the Cosine Similarity

In [81]:
cosine_sim=cosine_similarity(count_matrix)

In [103]:
movie_user_likes="The Originals"

In [104]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]

In [105]:
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [106]:
movie_index=get_index_from_title(movie_user_likes)

In [107]:
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [108]:
sorted_similar_movie=sorted(similar_movies,key=lambda x:x[1],reverse=True)

##  Print the movies

In [109]:
i=0
for movie in sorted_similar_movie:
    print(get_title_from_index(movie[0]))
    i=i+1
    if i>10:
        break

Jane The Virgin
Dramaworld
Million Pound Menu
Most Beautiful Thing
Twice Upon A Time
Mystic Whispers
She's Gotta Have It
IZombie
Club Friday To Be Continued - The Promise
Kiss The Series
Van Helsing